.next

# package directories
node_modules
jspm_packages

# build
build
dist

# Config
config.json
.env*

# IDE & Temp
.cache
.idea
.nyc_output
.vscode
coverage
.aws.tmp.creds.json
.wskdebug.props.tmp

# OSX
.DS_Store

# yeoman
.yo-repository

# logs folder for aio-run-detached
logs

